body,td,th,tr {
    font-family: Times New Roman, Times, serif;
}
hr {
    border: 0;
    border-top: 2px solid #8c8c8c;
    border-bottom: 2px solid #fff;
}
tr {
    width: 300;
}
.body {
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}
.table {
    table-layout: fixed;
}

.p2 {
    line-height: 50px;
}
.p3 {
    line-height: 10px;
    text-indent: 2em;
}
.p4 {
    line-height: 30px;
    text-indent: 4em;
}
.p5 {
    line-height: 30px;
    text-indent: 6em;
}
.p6 {
    line-height: 30px;
    text-indent: 8em;
}
.p7 {
    line-height: 30px;
    text-indent: 10em;
}
.p8 {
    /*p2 follow p4*/
    line-height: 20px;
    text-indent: 4em;
}

/*for index*/
.p11 {
    line-height: 30px;
    text-indent: 2em;
    font-size: 90%;
}
.p12 {
    line-height: 30px;
}

.color-red {
    color: red;
}
.color-blue {
    color: blue;
}
.img {
    float: left;
    margin: 2em;
}
.next {
    float: right;
}
.prev {
    float: left;
}
.center {
    float: middle;
}